<<<<<<< HEAD
@import './controllers.css';
@import './initiateScreen.css';
@import './storyTelling.css';
@import './scrollBar.css';
@import './canvas.css';
@import './queries.css';
*, *::before, *::after {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
}
button:focus { outline-style: none; }
=======
@import './controlers.css';
@import './counters.css';
@import './initiateScreen.css';
@import './storyTelling.css';
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Orbitron', Arial, Helvetica, sans-serif;
}

button:focus { outline-style: none; }

>>>>>>> 87cfb4072773c17f8252caa982a1f2ba1b7b2362
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    flex-direction: column;
<<<<<<< HEAD
    font-size: 1em;
}
=======
}

.terminalScreen {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: space-between;
    padding: 1em 2em;
    border: 1em solid rgba(44, 78, 87, 0.727);
    border-radius: 4em;
    background-color:rgba(81, 90, 88, 0.378);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2em 0em 1.5em 0.5em rgba(113, 151, 140, 0.796), -2em 0em 1.5em 0.5em rgba(113, 151, 140, 0.796);
    width: 85vw;
    height: 70vh;
    border-bottom : none;
    border-top : none;
    position: relative;
    
}

#rickAndMorty{
background-image: url("https://64.media.tumblr.com/51015ec638a516f7f7d353ca198a5091/tumblr_pdbo9wBAe11xd0gvgo1_1280.gifv");
}

>>>>>>> 87cfb4072773c17f8252caa982a1f2ba1b7b2362
#scenario {
    margin-bottom: 1em;
    margin-top:0.5em;
    font-weight: bold;
<<<<<<< HEAD

    position: relative;
    flex-basis: 2em;
}
=======
    font-size: 1em;
    position: relative;
    flex-basis: 2em;
}

>>>>>>> 87cfb4072773c17f8252caa982a1f2ba1b7b2362
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: space-between;
<<<<<<< HEAD
    min-width: 90%;
    max-width: 92%;
    font-size: 1em;
    height: auto;
    min-height: 92%;
=======
    width :  70%;
    max-width: 90%;
>>>>>>> 87cfb4072773c17f8252caa982a1f2ba1b7b2362
    background-color: rgba(0, 247, 255, 0.09);
    padding: 10px;
    border-radius: 3em;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0em 0em 0.7em 0.3em rgba(75, 118, 119, 0.576);
    flex-basis: 60%;
    position: relative;
<<<<<<< HEAD
    border: 0.2em solid rgba(131, 228, 255, 0.467);
    color:rgb(255, 251, 251);
}
#optionPath{
    max-height: 13em;
    overflow-y: scroll;
}
/* SCORE PAGE STYLES */
=======

    border: 0.2em solid rgba(131, 228, 255, 0.467);
    color:rgb(0, 247, 255);
}

#optionPath{
    max-height: 13em;
    overflow-y: scroll;
    
}
/* width */
::-webkit-scrollbar {
    width: 0.5em;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(56, 6, 6, 0.248);
    border-radius: 1em;
    width: 2em;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(4, 245, 253, 0.289);
    border-radius: 1em;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0391aa3f; 
  }

  ::-webkit-scrollbar-corner {
    display: none; 
  }



  ::-webkit-scrollbar-button {
    width: 1em; 
    height: 1em; 
  }
  /*


#optionPath::-webkit-scrollbar {
    display: none; 
}*/

.button {
    background-color:rgba(1, 10, 10, 0.118);
    border: 0.1em solid rgb(0, 247, 255);
    border-radius: 1em;
    transition-timing-function: ease-in-out;
    font-weight: bold;
    color: rgb(145, 201, 187);
    margin: 0.5em;
}

.button:hover{
    transform: scale(1.05);
    box-shadow: 0em 0em 0.5em 0.25em rgba(69, 83, 104, 0.576);
}

#startPage,
#scorePage {
    display: none;
}



/* FOOTER CONTROLER*/
footer {
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 15vh;
    position: relative;
    justify-content: center;
    margin-top: 3em;
    align-content: space-evenly;
    transform: rotateX(30deg);
    border-radius: 4em;
    border: 1em solid rgba(44, 78, 87);
    border-left-width: 0.5em;
    border-right-width: 0.5em;
    border-top-width: 0.1em;
    background-image: linear-gradient(rgb(28, 55, 52), rgb(12, 12, 12), black);
}

.controllerButton{
    justify-content: center;
    text-align: center;
    border-radius:5em;
    margin: 1em 1.5em 2em 1.5em;
    border: 1em solid rgb(69, 90, 95);
    border-left-width: 0.5em;
    border-right-width: 0.5em;
    border-top-width: 0.1em;
    transition-timing-function: ease-in-out;
    background-image: linear-gradient(rgb(62, 119, 114), rgb(36, 35, 35), black);
    color:rgb(0, 247, 255);
    /*I set the transition properties, the duration and the effects.*/
    transition-property: box-shadow text-shadow;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}

.controllerButton:hover{

    transform: scale(1);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0em 0.2em 0.3em 0.15em rgb(0, 225, 255);
    /*text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit;*/
    text-shadow: 0em 0em 0.1em rgb(0, 255, 229);
    
}


/* we set active in order to make the effect once clicked*/
.controllerButton:active{
    border-top-width: 0.25em;
    border-bottom-width: 0.8em;
    border-left-width: 0.45em;
    border-right-width: 0.45em;
    background-image: linear-gradient(rgb(62, 119, 114), rgb(36, 35, 35), black);
    transform: scale(1);
    
}

/*DISPLAY CONTROLLER*/

.elementHidden {
    display:none;


}

/* SCORE PAGE STYLES */

>>>>>>> 87cfb4072773c17f8252caa982a1f2ba1b7b2362
#visualizer {
position: relative;
flex-basis: 30%;
max-height: 10em;
margin-bottom: 0.8em;
border-radius: 10em;
background-position: center;
background-size: cover;
<<<<<<< HEAD
max-width: 80%
}
#timelineList {
margin-top: 2em;
background-color: rgba(0, 247, 255, 0.253);
}
#storyPage {
    background-size: cover;
}
/*TO MAKE BREAKS*/
.break {
    flex-basis: 100%;
    height: 0;
  }
#myVideo {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    }
#myVideoHidden {
    display: none;
}



=======
max-width: 50%
}

#timelineList {
margin-top: 1em;
}


/*SOLAR SYSTEM SIMULATION*/
#canvas {
    z-index: -1;
    position:absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: auto;
    background-image: url('https://wallpaperset.com/w/full/a/e/d/427161.jpg');
}

#canvasNoDisplay {
    display:none;
}
>>>>>>> 87cfb4072773c17f8252caa982a1f2ba1b7b2362
